<mat-card class="cardWithShadow theme-card">
  <mat-card-header class="m-b-8 m-t-8">
    <div class="col-lg-9">
      <mat-card-title class="m-b-0">Vos rendez-vous</mat-card-title>
    </div>
    <div class="col-lg-3">
      <button mat-flat-button color="primary" (click)="goToAddPage()"> Demander un rendez-vous </button>
    </div>
  </mat-card-header>

  <mat-card-content class="b-t-1">
    <div class="row" *ngIf="totalItems == 0">
      <div class="col-12 empty-state">
          <p>Vous n'avez pas encore de rendez-vous enregistrés</p>
          <button mat-flat-button color="primary" (click)="goToAddPage()"> Demander un rendez-vous </button>
      </div>
    </div>
    <div class="row" *ngIf="totalItems > 0">
      <div class="col-12">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="dateRdv">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element">
              {{ element.dateRdv | date: 'yyyy-MM-dd'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="heureRdv">
            <th mat-header-cell *matHeaderCellDef> Heure </th>
            <td mat-cell *matCellDef="let element">
              {{ element.heureRdv }}
            </td>
          </ng-container>

          <ng-container matColumnDef="voitureId">
            <th mat-header-cell *matHeaderCellDef> Voiture </th>
            <td mat-cell *matCellDef="let element">
              {{ element.voitureId.immatriculation }}
            </td>
          </ng-container>

          <ng-container matColumnDef="commentaires">
            <th mat-header-cell *matHeaderCellDef> Commentaire(s) </th>
            <td mat-cell *matCellDef="let element">
              {{ element.voitureId.immatriculation }}
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
              <app-badge-status [status]="element.status"></app-badge-status>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button matTooltip="Détails">
                <mat-icon>search</mat-icon>
              </button>

              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Modifier</span>
                </button>

                <button mat-menu-item (click)="confirmationAnnulation(element._id)">
                  <mat-icon>delete</mat-icon>
                  <span>Annuler</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <app-confirm-annulation-rdv *ngIf="selectedRdv"> </app-confirm-annulation-rdv>

        <mat-paginator [pageSizeOptions]="[5, 10, 25]" [length]="totalItems" [pageSize]="itemsPerPage" showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
  </mat-card-content>
</mat-card>
