<mat-card class="cardWithShadow theme-card contenantFormEmp">
  <mat-card-header>
    <mat-card-title class="m-b-0">Insertion d'employé</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
      <form class="formInscriEmp"  (ngSubmit)="addEmploye()" #empForm="ngForm">
        <div class="row">
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Nom de l'employé</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="Nom de l'employé " name="nomEmploye" [(ngModel)]="newEmploye.nomEmploye"/>
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Prénom de l'employé</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="Prénom de l'employé " name="prenom" [(ngModel)]="newEmploye.prenom"/>
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Matricule</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="Matricule " name="matricule" [(ngModel)]="newEmploye.matricule"/>
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Adresse</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="Adresse " name="adresse" [(ngModel)]="newEmploye.adresse"/>
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Phone</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="Phone " name="phone" [(ngModel)]="newEmploye.phone"/>
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">CIN</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="CIN " [(ngModel)]="newEmploye.CIN" name="CIN" />
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Sexe</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select [(ngModel)]="newEmploye.sexe" [(value)]="selectedsexe">
                @for(option of sexe ; track option.value) {
                <mat-option [value]="option.value">{{
                  option.viewValue
                  }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Poste</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select placeholder="Choisir un poste parmi la liste" name="poste" [(ngModel)]="newEmploye.poste">
                @for(option of postes; track option) {
                <mat-option [value]="option._id">{{
                  option.nomPoste
                  }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Date d'embauche</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput [matDatepicker]="picker" placeholder="Sélectionner une date" [(ngModel)]="newEmploye.dateEmbauche" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Email</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="email" placeholder="Email" name="email"  [(ngModel)]="newEmploye.mail" required />
            
            </mat-form-field>
          </div>
          
        </div>
  
        <div class="m-t-12">
          <button mat-flat-button color="primary" type="submit" [disabled]="empForm.invalid" class="m-r-8">Ajouter</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

