.logo{
    margin-left: auto;
    margin-right: auto;
}
.titreInscription{
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
}
.formInscriEmp{
    margin-top: -20px;
}

.contenantFormEmp{
    margin-top: -28px;
}