<h2 mat-dialog-title>Modifier la prestation</h2>

<mat-divider> </mat-divider>

<mat-dialog-content class="mat-typography">
  <form (ngSubmit)="updatePrestation()" #prestionForm="ngForm">
    <div class="row">
      <div class="col-lg-12">
        <mat-label class="f-w-600 m-b-8 d-block">Nom de la prestation</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput placeholder="Ecrivez ici" id="nomService" name="nomService" [(ngModel)]="detailsPrestation.nomPrestation" [value]="detailsPrestation.nomPrestation" required />
        </mat-form-field>
      </div>

      <div class="col-lg-12">
        <mat-label class="f-w-600 m-b-8 d-block">Description de la prestation</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput placeholder="Ecrivez ici" id="descriptionPrestation" name="descriptionPrestation" [(ngModel)]="detailsPrestation.descriptionPrestation" [value]="detailsPrestation.descriptionPrestation" required />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <button mat-flat-button class="m-r-8" color="primary" type="submit" [disabled]="prestionForm.invalid" [mat-dialog-close]="true"> Valider </button>
      </div>
      <div class="col-lg-2">
        <button mat-stroked-button [mat-dialog-close]="true"> Annuler </button>
      </div>
    </div>
  </form>
</mat-dialog-content>